{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Devices</title>
        <!-- <link rel="stylesheet" href="{% static '/css/home_page.css'%}"> -->
        <link rel="stylesheet" href="{% static '/css/home_1.css'%}">
        <link rel="stylesheet" href="{% static '/css/style-1.css'%}">
        <script src="https://kit.fontawesome.com/6351251fd9.js" crossorigin="anonymous"></script>
        <script> 
            function toggle() {
                var blur=document.getElementById('blur');
                blur.classList.toggle('active');
                var popup = document.getElementById('popup_id');
                popup.classList.toggle('active');
            }
        </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@2.2.4/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.4/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-match-height@0.7.2/dist/jquery.matchHeight.min.js"></script>
    <script>
        $.noConflict();
    
    jQuery(document).ready(function($) {
    
        "use strict";
    
        [].slice.call( document.querySelectorAll( 'select.cs-select' ) ).forEach( function(el) {
            new SelectFx(el);
        });
    
        jQuery('.selectpicker').selectpicker;
    
    
        
    
        $('.search-trigger').on('click', function(event) {
            event.preventDefault();
            event.stopPropagation();
            $('.search-trigger').parent('.header-left').addClass('open');
        });
    
        $('.search-close').on('click', function(event) {
            event.preventDefault();
            event.stopPropagation();
            $('.search-trigger').parent('.header-left').removeClass('open');
        });
    
        $('.equal-height').matchHeight({
            property: 'max-height'
        });
    
        // var chartsheight = $('.flotRealtime2').height();
        // $('.traffic-chart').css('height', chartsheight-122);
    
    
        // Counter Number
        $('.count').each(function () {
            $(this).prop('Counter',0).animate({
                Counter: $(this).text()
            }, {
                duration: 3000,
                easing: 'swing',
                step: function (now) {
                    $(this).text(Math.ceil(now));
                }
            });
        });
    
    
          
          
        // Menu Trigger
        $('#menuToggle').on('click', function(event) {
            var windowWidth = $(window).width();         
            if (windowWidth<1010) { 
                $('body').removeClass('open'); 
                if (windowWidth<760){ 
                    $('#left-panel').slideToggle(); 
                } else {
                    $('#left-panel').toggleClass('open-menu');  
                } 
            } else {
                $('body').toggleClass('open');
                $('#left-panel').removeClass('open-menu');  
            } 
                  
        }); 
    
          
        $(".menu-item-has-children.dropdown").each(function() {
            $(this).on('click', function() {
                var $temp_text = $(this).children('.dropdown-toggle').html();
                $(this).children('.sub-menu').prepend('<li class="subtitle">' + $temp_text + '</li>'); 
            });
        });
    
    
        // Load Resize 
        $(window).on("load resize", function(event) { 
            var windowWidth = $(window).width();         
            if (windowWidth<1010) {
                $('body').addClass('small-device'); 
            } else {
                $('body').removeClass('small-device');  
            } 
            
        });
      
      
    });
    </script>
        
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    @media only screen and (min-device-width: 768px) {
    .gauge-container {
      width: 150px;
      height: 150px;
      
      
    }
}
.gauge-container.three > .gauge > .dial {
  stroke: #334455;
  stroke-width: 6;
 
}
.gauge-container.three > .gauge > .value {
  stroke: #C9DE3C;
  stroke-width: 6;
  
}
.gauge-container.three > .gauge > .value-text {
  fill: #C9DE3C;
  
}


  </style>

</head>

  

<body onload="subscribe();createToggleswitch();">
    
  <aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">

        <div id="main-menu" class="main-menu collapse navbar-collapse">
            <ul class="nav navbar-nav">
               

            <li>
               <a href="{% url 'dashboard' %}"  ><i class="menu-icon fa fa-automobile"></i>My Device</a></li>
                <li >
                    <a href="{% url 'profile_page' %}" > <i class="menu-icon fa fa-user-plus"></i>Profile</a>
                   
                    
                </li>
                
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
</aside>
<div id="right-panel" class="right-panel">

  <!-- Header-->
  <header id="header" class="header">
      <div class="top-left">
          <div class="navbar-header">
              <a class="navbar-brand" href=""><img src="{% static '/image/logo1.png'%}" alt="Logo"></a>
             
              <a id="menuToggle" class="menutoggle"><i class="fa fa-bars"></i></a>
          </div>
      </div>
     
  <center><div class="head"> IOT- PLATFORM</div></center>
  </header>
  <br><br><br><br>
  <div class="data_container" id="blur">  
    <div class="create_device">
        <button id="new_device" onclick="toggle()"><i class="fa-solid fa-plus"></i> create new Location</button>
    </div>

    <h2>My Location</h2>
    <P> NUMBER OF LOCATIONS :<strong> {{ count }}</strong> </P>
    <div class="device-list" style="height: 100%;">
        
        <div class="devicename-list">
            <ul >
            {% for x in devices %}

                <li> <a href="{% url 'device_page' devicename=x.device_name  %}">{{ x.device_name }} </a> </li> 

            {% endfor %}
            </ul>
            

        </div>
        
    </div> 
    
</div>
<div class="popup" id="popup_id">
    <h3>Create new Device</h3> <button id="close-btn" onclick="toggle()">&times;</button> <br>
    <form method='POST' > 
        {% csrf_token %}
        
        
        <label for="device_name">Device name : </label> 
        <input type="text" name="device_name"> <br><br>
        <input type="submit" value="create" formaction="{% url 'add_device' %}"> <br><br>
    </form>
</div>
</div>

    
</div>
</body>
</html>

