{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Login page</title> 
        <link rel="stylesheet" href="{% static '/css/login.css'%}">
    </head>
    <body>
        <div>
            {% include 'Iot_platform_app/message.html' %}
          </div>
        <h1>IOT PLATFORM</h1>
        <a href="{% url 'admin_login_page' %}"><button style="width:10%;float: right;margin-top: -3%;" >Admin Login</button></a>
        <div class="column">
        <div class="image">
            <img src="{% static '/image/login.png'%}" alt="" style="width:298%;padding-left:166px;margin-top:-27px">
        </div>
        <div class="container">
            <h3>LOGIN HERE</h3><br>
            <form method='POST'>
                {% csrf_token %}
                <label for="usermail">Email ID</label> <br>
                <input class ="data"type="email" name="usermail" > <br><br>

                <label for="pass">Password</label> <br>
                <input  class = "data" type="password" name="pass" >  <br><br><br>

                <input class = "submit" type="submit" value="LOGIN" formaction="{% url 'login_details' %}"><br><br>
                
            </form>

            
            <p>Don't have an account?</p>
           <a href="{% url 'signup' %}"><button>REGISTER NOW</button></a><br><br><br>
        </div>
        </div>
    </body>
</html>
    