#light-switch0 {
    position:absolute;
    left:0;
    top:0;
    opacity:0;
    /* &:checked ~ #background {
      background-color:#ebdbac;
    } */
    &:checked ~ #light-switch-label0 {
      box-shadow:0 2px 2px #dbdbdb;
      .switch0 {
        box-shadow:0 10px 10px -5px rgba(222,222,222,1), 0 0 0 1px rgba(0,0,0,.1), 0 0 0 4px #c2c2c2,0 0 0 5px rgba(0,0,0,.1);
        &:before {
          height:75px;
          top:0px;
          line-height:75px;
          background:#e7e7e7;
          color:#64bf60;
          text-shadow: 0 0 3px #38ff2e;
        }
        &:after {
          height:70px;
          bottom:5px;
          line-height:70px;
          background:#fffaea;
          box-shadow:0 5px 0 #dedede;
          color:#d7bf95;
          text-shadow:0 0 0px transparent;
        }
      }
    }
  }
  
  #light-switch-label0 {
    position:relative;
    display:block;
    height:150px;
    width:100px;
    z-index:1;
    margin:100px auto 0 auto;
    background-color:#fffaea;
    border-radius:10px;
    .switch0 {
      cursor:pointer;
      height:150px;
      width:95px;
      background:#f1f0f0;
      position:absolute;
      top:50%;
      left:50%;
      margin:-75px 0 0 -50px;
      border-radius:5px;
      overflow:hidden;
      box-shadow:0 10px 10px -5px rgb(201, 201, 201), 0 0 0 1px rgba(0,0,0,.1), 0 0 0 4px #c2c2c2,0 0 0 5px rgba(0,0,0,.1);
      &:before {
        content:'ON';
        display:block;
        position:absolute;
        height:70px;
        text-align:center;
        line-height:70px;
        width:100px;
        top:5px;
        left:0;
        background:#fcf9f9;
        color:#d7bf95;
        border-radius:5px 5px 0 0;
      }
      &:after {
        content:'OFF';
        display:block;
        position:absolute;
        height:75px;
        text-align:center;
        line-height:75px;
        width:100px;
        bottom:0;
        left:0;
        background:#dedede;
        color:#64bf60;
        text-shadow: 0 0 3px #38ff2e;
        border-radius:0 0 5px 5px;
      }
    }
}
#light-switch1 {
  position:absolute;
  left:0;
  top:0;
  opacity:0;
  /* &:checked ~ #background {
    background-color:#ebdbac;
  } */
  &:checked ~ #light-switch-label0 {
    box-shadow:0 2px 2px #dbdbdb;
    .switch1 {
      box-shadow:0 10px 10px -5px rgba(222,222,222,1), 0 0 0 1px rgba(0,0,0,.1), 0 0 0 4px #c2c2c2,0 0 0 5px rgba(0,0,0,.1);
      &:before {
        height:75px;
        top:0px;
        line-height:75px;
        background:#e7e7e7;
        color:#64bf60;
        text-shadow: 0 0 3px #38ff2e;
      }
      &:after {
        height:70px;
        bottom:5px;
        line-height:70px;
        background:#fffaea;
        box-shadow:0 5px 0 #dedede;
        color:#d7bf95;
        text-shadow:0 0 0px transparent;
      }
    }
  }
}

#light-switch-label1 {
  position:relative;
  display:block;
  height:150px;
  width:100px;
  z-index:1;
  margin:100px auto 0 auto;
  background-color:#fffaea;
  border-radius:10px;
  .switch1 {
    cursor:pointer;
    height:150px;
    width:95px;
    background:#f1f0f0;
    position:absolute;
    top:50%;
    left:50%;
    margin:-75px 0 0 -50px;
    border-radius:5px;
    overflow:hidden;
    box-shadow:0 10px 10px -5px rgb(201, 201, 201), 0 0 0 1px rgba(0,0,0,.1), 0 0 0 4px #c2c2c2,0 0 0 5px rgba(0,0,0,.1);
    &:before {
      content:'ON';
      display:block;
      position:absolute;
      height:70px;
      text-align:center;
      line-height:70px;
      width:100px;
      top:5px;
      left:0;
      background:#fcf9f9;
      color:#d7bf95;
      border-radius:5px 5px 0 0;
    }
    &:after {
      content:'OFF';
      display:block;
      position:absolute;
      height:75px;
      text-align:center;
      line-height:75px;
      width:100px;
      bottom:0;
      left:0;
      background:#dedede;
      color:#64bf60;
      text-shadow: 0 0 3px #38ff2e;
      border-radius:0 0 5px 5px;
    }
  }
}
#light-switch2 {
  position:absolute;
  left:0;
  top:0;
  opacity:0;
  /* &:checked ~ #background {
    background-color:#ebdbac;
  } */
  &:checked ~ #light-switch-label0 {
    box-shadow:0 2px 2px #dbdbdb;
    .switch2 {
      box-shadow:0 10px 10px -5px rgba(222,222,222,1), 0 0 0 1px rgba(0,0,0,.1), 0 0 0 4px #c2c2c2,0 0 0 5px rgba(0,0,0,.1);
      &:before {
        height:75px;
        top:0px;
        line-height:75px;
        background:#e7e7e7;
        color:#64bf60;
        text-shadow: 0 0 3px #38ff2e;
      }
      &:after {
        height:70px;
        bottom:5px;
        line-height:70px;
        background:#fffaea;
        box-shadow:0 5px 0 #dedede;
        color:#d7bf95;
        text-shadow:0 0 0px transparent;
      }
    }
  }
}

#light-switch-label2 {
  position:relative;
  display:block;
  height:150px;
  width:100px;
  z-index:1;
  margin:100px auto 0 auto;
  background-color:#fffaea;
  border-radius:10px;
  .switch2 {
    cursor:pointer;
    height:150px;
    width:95px;
    background:#f1f0f0;
    position:absolute;
    top:50%;
    left:50%;
    margin:-75px 0 0 -50px;
    border-radius:5px;
    overflow:hidden;
    box-shadow:0 10px 10px -5px rgb(201, 201, 201), 0 0 0 1px rgba(0,0,0,.1), 0 0 0 4px #c2c2c2,0 0 0 5px rgba(0,0,0,.1);
    &:before {
      content:'ON';
      display:block;
      position:absolute;
      height:70px;
      text-align:center;
      line-height:70px;
      width:100px;
      top:5px;
      left:0;
      background:#fcf9f9;
      color:#d7bf95;
      border-radius:5px 5px 0 0;
    }
    &:after {
      content:'OFF';
      display:block;
      position:absolute;
      height:75px;
      text-align:center;
      line-height:75px;
      width:100px;
      bottom:0;
      left:0;
      background:#dedede;
      color:#64bf60;
      text-shadow: 0 0 3px #38ff2e;
      border-radius:0 0 5px 5px;
    }
  }
}

#light-switch3 {
  position:absolute;
  left:0;
  top:0;
  opacity:0;
  /* &:checked ~ #background {
    background-color:#ebdbac;
  } */
  &:checked ~ #light-switch-label0 {
    box-shadow:0 2px 2px #dbdbdb;
    .switch3 {
      box-shadow:0 10px 10px -5px rgba(222,222,222,1), 0 0 0 1px rgba(0,0,0,.1), 0 0 0 4px #c2c2c2,0 0 0 5px rgba(0,0,0,.1);
      &:before {
        height:75px;
        top:0px;
        line-height:75px;
        background:#e7e7e7;
        color:#64bf60;
        text-shadow: 0 0 3px #38ff2e;
      }
      &:after {
        height:70px;
        bottom:5px;
        line-height:70px;
        background:#fffaea;
        box-shadow:0 5px 0 #dedede;
        color:#d7bf95;
        text-shadow:0 0 0px transparent;
      }
    }
  }
}

#light-switch-label3 {
  position:relative;
  display:block;
  height:150px;
  width:100px;
  z-index:1;
  margin:100px auto 0 auto;
  background-color:#fffaea;
  border-radius:10px;
  .switch3 {
    cursor:pointer;
    height:150px;
    width:95px;
    background:#f1f0f0;
    position:absolute;
    top:50%;
    left:50%;
    margin:-75px 0 0 -50px;
    border-radius:5px;
    overflow:hidden;
    box-shadow:0 10px 10px -5px rgb(201, 201, 201), 0 0 0 1px rgba(0,0,0,.1), 0 0 0 4px #c2c2c2,0 0 0 5px rgba(0,0,0,.1);
    &:before {
      content:'ON';
      display:block;
      position:absolute;
      height:70px;
      text-align:center;
      line-height:70px;
      width:100px;
      top:5px;
      left:0;
      background:#fcf9f9;
      color:#d7bf95;
      border-radius:5px 5px 0 0;
    }
    &:after {
      content:'OFF';
      display:block;
      position:absolute;
      height:75px;
      text-align:center;
      line-height:75px;
      width:100px;
      bottom:0;
      left:0;
      background:#dedede;
      color:#64bf60;
      text-shadow: 0 0 3px #38ff2e;
      border-radius:0 0 5px 5px;
    }
  }
}
